src/main/resources/cocktails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cocktails">
        <xs:complexType>
            <xs:all>

                <xs:element name="zutaten">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="zutat" maxOccurs="unbounded" minOccurs="0" type="IngredientType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="rezepte">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="rezept" maxOccurs="unbounded" minOccurs="0" type="CocktailType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="IngredientType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:integer" name="id" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CocktailType">
        <xs:sequence>
            <xs:element name="anweisung" maxOccurs="unbounded" minOccurs="0" type="InstructionType">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="InstructionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:integer" name="zutat" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>